@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');

* {
    margin: 0;
}

body {
    background: rgb(196, 196, 196);
}


a {
    display: flex;
    text-decoration: none;
    color: black;
    align-items: center;
    text-align: center;
    font-size: 80px;
    justify-content: center;
    border-radius: 50%;
    padding: 25px;
    border: 10px solid black;
}

h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-family: Rubik Vynil;
}

#tibo {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

a:hover {
    scale: 130%;
    transition: 0.7s;
    background: rgb(206, 0, 0); 
}