@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');

h1 {
    font-size: 100px;
    text-align: center;
    font-family: 'Rubik Vinyl'
}
a {
 display: flex;
 text-decoration: none;
 color: black;
 align-items: center;
 text-align: center;
 font-size: 80px;
 justify-content: center;
 border-radius: 50%;
 padding: 25px;
}
div {
    margin-top: 160px;
}
a:hover {
   transition: 0.3s;
   scale: 150%;
   background-color: gray;
   display: flex;
}

